<app-body-content>
  <app-box-info>
    <div style="font-size: 18px; display: flex; align-items: center">
      <mat-icon> bubble_chart</mat-icon
      ><span style="margin-left: 10px">ACERTE O ESPETINHO PREMIADO!</span>
    </div>
  </app-box-info>

  <div class="logo"></div>

  <div class="text-center mt-3" style="color: rgb(144, 122, 68)">
    Chances: 1x
  </div>
  <div class="area-g mt-1">
    <div
      *ngFor="let item of items"
      class="text-center"
      style="width: 80px; display: grid; justify-content: center"
      [ngClass]="{ 'trembling-div': item.id == itemSelected }"
    >
      <div class="aimg" (click)="onClickItem(item.id)"></div>
      <div style="margin-top: -50px">
        <span
          class="bfont"
          [ngClass]="{ 'bfont-true': item.id == itemSelected }"
          >{{ item.name }}</span
        >
      </div>
    </div>
  </div>

  <div
    class=""
    style="
      text-align: right;
      bottom: 0px;
      position: absolute;
      width: 100%;
      background-color: #ffc107;
    "
  >
    <button
      type="button"
      class="btn btn-warning"
      (click)="onClickConfirm()"
      style="display: flex; float: right"
      [disabled]="!itemSelected"
    >
      Confirmar
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</app-body-content>
