<app-body-content>
  <app-box-info>
    <div style="font-size: 18px; display: flex; align-items: center">
      <mat-icon> bubble_chart</mat-icon
      ><span style="margin-left: 10px">CONFIRMAÇÃO</span>
    </div>
  </app-box-info>
  <div [formGroup]="form">
    <div class="logo"></div>

    <div class="text-center p-3">
      Informe o código SMS enviado para o número registrado no cadastro.
    </div>

    <div class="mt-3">
      <app-keypass (onCompleteCode)="onCompleteCode($event)"></app-keypass>
    </div>

    <div class="box-form mt-3 text-center">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Código amigo (opcional)</mat-label>
        <span style="color: #ffcd49; margin-left: 15px" matPrefix
          ># &nbsp;</span
        >
        <input
          type="text"
          matInput
          maxlength="30"
          formControlName="codeFriend"
        />
      </mat-form-field>
    </div>

    <div class="text-center mt-3" style="background-color: black;">
      <div class="">
        <button
          type="button"
          class="btn btn-warning"
          (click)="onClickConfirm()"
          [disabled]="form.invalid"
        >
          Confirmar
        </button>
      </div>
      <div class="mt-5"  style="background-color: black;">
        <button
          mat-button
          type="button"
          class="btn btn-warning"
          (click)="onClickResendSendSms()"
          color="primary"
        >
          Reenviar SMS
        </button>
      </div>
    </div>
  </div>
</app-body-content>
