<app-body-content>
  <app-box-info>
    <h1>Confirmação</h1>
  </app-box-info>
  <div class="">
    <div class="logo"></div>

    <div class="text-center mt-5">
      Informe a palavra enviada para o número registrado no cadastro.
    </div>

    <div class="box-form mt-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Seu código de confirmação</mat-label>
        <span style="color: #ffcd49; margin-left: 5px" matPrefix># &nbsp;</span>
        <input
          type="number"
          matInput
          appearance="outline"
          placeholder="Ex. Informe seu nome"
        />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Código amigo (opcional)</mat-label>
        <span style="color: #ffcd49; margin-left: 5px" matPrefix># &nbsp;</span>
        <input type="number" matInput mask="0000" />
      </mat-form-field>
    </div>

    <div class="text-center mt-3">
      <button type="button" class="btn btn-warning" (click)="onClickConfirm()">Confirmar</button>
    </div>
  </div>
</app-body-content>
