<app-body-content>
  <app-box-info>
    <div style="font-size: 18px; display: flex; align-items: center">
      <mat-icon> bubble_chart</mat-icon
      ><span style="margin-left: 10px">CONFIRMAÇÃO</span>
    </div>
  </app-box-info>
  <div class="">
    <div class="logo"></div>

    <div class="text-center mt-3 p-3">
      Informe a palavra enviada para o número registrado no cadastro.
    </div>

    <div class="box-form mt-3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Seu código de confirmação</mat-label>
        <span style="color: #ffcd49; margin-left: 5px" matPrefix># &nbsp;</span>
        <input
          type="number"
          matInput
          appearance="outline"
          placeholder="Ex. Informe seu nome"
        />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Código amigo (opcional)</mat-label>
        <span style="color: #ffcd49; margin-left: 5px" matPrefix># &nbsp;</span>
        <input type="number" matInput mask="0000" />
      </mat-form-field>
    </div>

    <div class="text-center mt-3">
      <button type="button" class="btn btn-warning" (click)="onClickConfirm()">Reenviar SMS</button>
    </div>
  </div>

  <div
  class=""
  style="
    text-align: right;
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: #ffc107;
  "
>
  <button
    type="button"
    class="btn btn-warning"
    (click)="onClickConfirm()"
    style="display: flex; float: right"
  >
    Confirmar
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>

</app-body-content>
