<app-body-content>
  <app-box-info>
    <span [innerHTML]="configAppService.loginTitle"></span>
  </app-box-info>

  <div class="logo"></div>

  <div class="box-form" [formGroup]="form">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        type="name"
        matInput
        appearance="outline"
        placeholder="Ex. Informe seu nome"
        formControlName="name"
        maxlength="30"
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Telefone</mat-label>
      <span style="color: #ffcd49; margin-left: 5px" matPrefix>+55 &nbsp;</span>
      <input
        type="tel"
        matInput
        placeholder="xx-xxxxx-xxxx"
        mask="(00) 00000-0000"
        formControlName="phone"
      />
    </mat-form-field>
  </div>

  <div style="text-align: center">
    <button type="button" class="btn btn-warning" (click)="onClickEnter()" [disabled]="form.invalid">
      Participar
    </button>
  </div>

  <div class="address">{{ configAppService.address }}</div>

  <div class="box-users">
    <div class="row">
      <span
        style="
          background-color: #ffcd49;
          padding: 10px 20px 2px 20px;
          border-top-right-radius: 17px;
          border-top-left-radius: 17px;
          width: 100%;
          color: black;
          font-weight: bolder;
        "
        >GANHADORES HOJE</span
      >
    </div>
    <div
      style="
        background-color: #ffcd49;
        width: 95%;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        padding: 15px;
        color: black;
        height: 100%;
        overflow: hidden;
      "
      class=""
    >
      <div
        class="user-item blinking-list"
        [@moveItems]
        *ngFor="let item of usersWIN"
      >
        <img class="emoj" src="./assets/images/emoj.png" alt="user" />
        <span style="margin-right: 5px; margin-left: 4px"
          ><b>{{ item.name | limitTo : 9 }}</b></span
        >
        ganhou um espetinho simples
      </div>
    </div>
  </div>
</app-body-content>
