<app-body-content>
  <app-box-info>
    <div style="font-size: 18px; display: flex; align-items: center">
      <mat-icon> bubble_chart</mat-icon
      ><span style="margin-left: 10px">OPS</span>
    </div>
  </app-box-info>
  <div class="logo"></div>
  <div
    class="mt5 text-center"
    style="
      background-color: gold;
      padding: 10px;
      border-radius: 10px;
      color: black;
      width: 170px;
      margin: auto;
    "
  >
  <div>
    <img width="100px" src="/assets/gifs/sett.gif" alt="" srcset="" />
  </div>
  O sorteio ficará disponível em breve!
  </div>
</app-body-content>
