<app-body-content>
  <app-box-info>
    <h2 class="text-center">TICKET</h2>
  </app-box-info>

  <div class="logo"></div>

  <div
    class="text-center mt-3"
    style="
      width: 90%;
      background-color: gold;
      margin: auto;
      color: black;
      border-radius: 10px;
      padding: 5px
    "
  >
    Para desfrutar do seu prêmio, você deve visitar nosso estabelecimento e
    apresentar o QR code abaixo.
  </div>

  <div class="aqrcode mt-3">
    <img src="../../../assets/images/qrcode.png" width="100%" alt="" />
  </div>
  <div class="col-12 text-center mt-5">
    Este cupom só é válido para uma única utilização.
  </div>
</app-body-content>
