<app-body-content>
  <app-box-info>
    <div style="font-size: 20px; display: flex; align-items: center">
      <mat-icon>inbox</mat-icon> <span style="margin-left: 10px;">CUPOM</span>
    </div>
  </app-box-info>

  <div class="logo"></div>

  <div
    class="text-center mt-1"
    style="width: 90%; margin: auto; color: gold; padding: 5px; font-size: 16px"
  >
    Para desfrutar do seu prêmio, você deve visitar nosso estabelecimento e
    apresentar o QR code abaixo.
  </div>

  <div class="text-center mt-3">
    <span
      style="
        margin: auto;
        width: 90%;
        background-color: rgb(0, 119, 255);
        padding: 10px;
        display: flex;
        align-items: center;
      "
      ><mat-icon> location_on</mat-icon> Abrir localização</span
    >
  </div>

  <div class="aqrcode mt-3" [innerHTML]="safeSvg">

    <img src='' width="100%" alt="" />
  </div>
  <div class="col-12 text-center mt-5">
    Este cupom só é válido para uma única utilização.
  </div>
</app-body-content>
